---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
---

<Layout title="Lading Page">
	<main id="main" class="container" transition:animate="fade">
		<Hero />
	</main>
</Layout>
