---
import Layout from "../layouts/Layout.astro";
import Iframe from "../components/Iframe.astro";
---

<Layout title="Lading Page">
	<main class="container">
		<h1>Home</h1>
		<!-- <Iframe url="https://id.hemocione.com.br" /> -->
	</main>
</Layout>
