---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
import WhoWeAre from "../components/Home/WhoWeAre.astro";
import BusinessStrategy from "../components/Home/BusinessStrategy.astro";
import CallToAction from "../components/Home/CallToAction.astro";
import HowWorks from "../components/Home/HowWorks.astro";
import NextEvents from "../components/Home/NextEvents.astro";
---

<Layout title="Lading Page">
	<main id="main" transition:animate="fade">
		<Hero />
		<WhoWeAre />
		<BusinessStrategy />
		<CallToAction />
		<HowWorks />
		<NextEvents />
	</main>
</Layout>

<style>
	#main {
		display: flex;
		flex-direction: column;
		gap: 6rem;
	}
</style>
