---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
import WhoWeAre from "../components/Home/WhoWeAre.astro";
---

<Layout title="Lading Page">
	<main id="main" transition:animate="fade">
		<Hero />
		<WhoWeAre />
	</main>
</Layout>

<style>
	#main {
		display: flex;
		flex-direction: column;
		gap: 6rem;
	}
</style>
