<section class="container">
    <h1>Our business strategy has helped many businesses across the</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur. Elementum nisl duis tortor sed.
        Suspendisse lobortis vitae quis vehicula pellentesque sit id
    </p>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
    }

    h1 {
        color: var(--hemo-color-text-secondary);
        font-size: 2.25rem;
        font-weight: 700;
        margin: 0;
    }
</style>
