---
import Title from "../Title.astro";
---

<section class="container">
    <Title>Our business strategy has helped many businesses across the</Title>
    <p>
        Lorem ipsum dolor sit amet consectetur. Elementum nisl duis tortor sed.
        Suspendisse lobortis vitae quis vehicula pellentesque sit id
    </p>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
    }
</style>
