---
import heroSVG from "../../assets/home/hero.svg";
import Button from "../../components/Button.astro";
import TextCarousel from "../../components/TextCarousel.vue";

const TEXT_CAROUSEL = [
    "salvar vidas",
    "ajudar o próximo",
    "um gesto de amor",
    "dar esperança",
    "ser voluntário",
];
---

<section class="container">
    <aside>
        <h1>
            Doar sangue é
            <br />
            <TextCarousel
                class="carousel"
                texts={TEXT_CAROUSEL}
                interval={6000}
                client:only
            />
        </h1>
        <p>
            Descreva de forma breve e direta o que é o seu produto, pra quem ele
            é e o que torna ele tão especial.
        </p>
        <div class="actions">
            <Button className="donate-button">Faça sua doação</Button>
            <Button type="plain">Seja um parceiro</Button>
        </div>
    </aside>
    <aside class="image">
        <img src={heroSVG.src} alt="Ilustração com várias imagens de ..." />
    </aside>
</section>

<style>
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10rem;
        padding-top: 6rem;
    }

    aside {
        flex: 1;
    }

    h1 {
        font-size: 3.75rem;
        line-height: 1;
        font-weight: 900;
        margin-bottom: 1rem;
    }

    .carousel {
        color: var(--hemo-color-primary);
        margin-top: -0.5rem;
    }

    p {
        font-size: 1.25rem;
        margin-bottom: 2rem;
        color: var(--hemo-color-blue-800);
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    .actions {
        display: flex;
        gap: 1rem;
    }

    @media (max-width: 1092px) {
        .actions {
            flex-direction: column;
        }
    }

    @media (max-width: 768px) {
        section {
            height: calc(100dvh - var(--navbar-height));
            padding: 0 1rem;
            text-align: center;
        }

        h1 {
            margin-top: 0;
            font-size: 3rem;
        }

        .image {
            display: none;
        }
    }
</style>

<style is:global>
    .donate-button {
        flex: 1;
    }
</style>
