---
const CARDS = [
    {
        title: "Agende sua doação online",
        description:
            "Faça seu agendamento de forma rápida e fácil através da nossa plataforma online. Escolha o melhor horário para você e evite filas no local de doação.",
    },
    {
        title: "Doação rápida e segura",
        description:
            "Chegou o grande dia! Após um breve processo de triagem, você estará pronto para doar sangue. Nossa equipe cuidará de você durante todo o processo de coleta, que dura apenas alguns minutos.Chegou o grande dia! Após um breve processo de triagem, você estará pronto para doar sangue. Nossa equipe cuidará de você durante todo o processo de coleta, que dura apenas alguns minutos.",
    },
    {
        title: "Seu sangue, uma vida salva",
        description:
            "Depois de doar, seu sangue passa por testes. Uma vez aprovado, será usado em transfusões, tratamentos de câncer, cirurgias e emergências, ajudando a salvar vidas em toda a comunidade.",
    },
];
---

<section class="container">
    <span>Doe a cada estação</span>
    <h1>Como funciona a doação de sangue?</h1>
    <div class="cards">
        {
            CARDS.map((card) => (
                <div class="card">
                    <img src="" alt="" />
                    <h3>{card.title}</h3>
                    <p>{card.description}</p>
                </div>
            ))
        }
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
    }

    span {
        color: var(--hemo-color-primary);
        font-size: 1.25rem;
        font-weight: 700;
    }

    h1 {
        color: var(--hemo-color-text-secondary);
        font-size: 2.25rem;
        font-weight: 700;
        margin: 0;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        margin-top: 2rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        border: 1px solid var(--hemo-color-slate-300);
        border-radius: 0.5rem;
    }
</style>
