---
import Title from "../Title.astro";
import CalendarDateSVG from "../../assets/icons/calendar-date.svg";
import SyringeSVG from "../../assets/icons/syringe.svg";
import HeartSVG from "../../assets/icons/heart.svg";

const CARDS = [
    {
        title: "Agende sua doação online",
        description:
            "Faça seu agendamento de forma rápida e fácil através da nossa plataforma online. Escolha o melhor horário para você e evite filas no local de doação.",
        icon: CalendarDateSVG.src,
    },
    {
        title: "Doação rápida e segura",
        description:
            "Chegou o grande dia! Após um breve processo de triagem, você estará pronto para doar sangue. O processo de coleta dura apenas alguns minutos e você ganha um lanchinho!",
        icon: SyringeSVG.src,
    },
    {
        title: "Seu sangue, uma vida salva",
        description:
            "Depois de doar, o sangue passa por testes para ser usado em transfusões, tratamentos de câncer, cirurgias e emergências, ajudando a salvar vidas em toda a comunidade.",
        icon: HeartSVG.src,
    },
];
---

<section class="container">
    <Title subtitle="Doe a cada estação">
        Como funciona a doação de sangue?
    </Title>
    <div class="cards">
        {
            CARDS.map((card) => (
                <div class="card">
                    <div class="image">
                        <img
                            src={card.icon}
                            alt="Ícone ilustrativo para a doação de sangue"
                        />
                    </div>
                    <h3>{card.title}</h3>
                    <p>{card.description}</p>
                </div>
            ))
        }
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 3rem;
        margin-top: 4rem;
        flex-wrap: wrap;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
    }

    .image {
        padding: 1rem;
        border-radius: 100%;
        background-color: var(--hemo-color-valerie);
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
