---
import WhoWeAreWEBP from "../../assets/home/who-we-are.webp";
import Button from "../Button.astro";
import Title from "../Title.astro";
---

<section>
    <Title subtitle="Quem somos?">Sobre o Hemocione</Title>
    <div class="who-we-are container">
        <aside>
            <img src={WhoWeAreWEBP.src} alt="Equipe hemocione" />
        </aside>
        <aside class="content">
            <strong>O que nós fazemos afinal? Conscientizamos!</strong>
            <p>
                Somos uma ONG de jovens obstinados em promover o hábito da
                doação de sangue no Brasil. Acreditamos que apenas a partir da
                conscientização desde cedo conseguiremos formar uma gerações de
                novos doadores, que dará fim a este problema.
            </p>
            <a href="#">Saiba mais</a>
        </aside>
    </div>
</section>

<style>
    section {
        background-color: var(--hemo-color-text-primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 4rem 0;
    }

    .who-we-are {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .content strong {
        color: var(--hemo-color-primary);
    }

    .content a {
        width: fit-content;
        border-bottom: 1px solid var(--hemo-color-text-secondary);
        padding-bottom: 0.25rem;
        margin-top: 0.5rem;
        transition: all 0.3s;
    }

    .content a:hover {
        color: var(--hemo-color-primary);
        border-bottom-color: var(--hemo-color-primary);
    }

    aside {
        flex: 1;
    }

    @media (max-width: 768px) {
        .who-we-are {
            flex-direction: column;
        }

        img {
            width: 100%;
        }

        aside {
            width: 100%;
        }
    }
</style>

<style is:global>
    .who-we-are-button {
        width: fit-content;
    }

    @media screen and (max-width: 768px) {
        .who-we-are-button {
            width: 100%;
        }
    }
</style>
