---
interface Props {
    subtitle?: string;
}

const { subtitle } = Astro.props;
---

{subtitle && <span>{subtitle}</span>}
<h1>
    <slot />
</h1>

<style>
    span {
        color: var(--hemo-color-primary);
        font-size: 1.25rem;
        font-weight: 700;
    }

    h1 {
        color: var(--hemo-color-text-secondary);
        font-size: 2.25rem;
        font-weight: 700;
        margin: 0;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 1.85rem;
        }

        span {
            font-size: 1rem;
        }
    }
</style>
